*{
 margin:0;    
 padding:0;
 box-sizing: border-box;
}
.main{
    display: block;
    margin:0 auto;
}
/*hero section*/
header{
    background-image: url(../img/hero.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    min-height: 600px;
}
.black{
   padding: 2rem;
   background-color: rgba(0,0,0,0.5);
   color: #fff; 
   margin: 0 auto;
   min-height: 689.33px; 
   position: relative;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Shrikhand', cursive;
}
.row h1{
    font-family: 'Shrikhand', cursive;
}
nav{
    width:100%;
    height: auto;
    padding:.5rem;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropbtn{
    padding: 0 25px;
}
.dropdown-content{
    display: none;
    width:50px;
    height: auto;
    position: absolute;
    min-width: 100px;
    border-bottom:solid .5px #fff;
    z-index: 1;
}
.dropdown-content a{
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content{
    display: block;
}
/*about section*/
.container.about{
    margin:2rem auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height:50%;
    width: 100%;
}
.button{
    font-family: 'Shrikhand', cursive;
    border: none;
    color:#fff;
    background-color: rgba(0,0,0,0);
    border:solid 2px;
    margin:1em auto;
    padding:5px 10px;
    display: block;
   -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
.button:hover{
    background-color: blue;
    
}
button.btn-2{
    color: black;
    background-color: #fff;
    border:solid 2px;
}
/*featurees section*/
h2.col-sm-12{
    padding-bottom: 2rem;
    font-family: 'Shrikhand', cursive;
}
.grey{
    background-color: #f1f1f1;
}
.container.features{
    height:50%;
    padding-top: 4rem;
    padding-bottom: 4rem; 
}
h3{
    font-family: 'Shrikhand', cursive;
    padding: 1rem;
}
/*testimonial section*/
.container.test{
    margin-bottom: 4rem;
    margin-top: 4rem;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  /*background: #f1f1f1f1;*/
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
   /* background: #ddd;*/
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

/*Footer section*/
footer{
    width: 100%;
    height:50%;
    background-color: #282828;
    color:#fff;
}
.row.footer{
    width:80%;
    height:auto;
    margin:0 auto;
    padding:1rem;
}
ul{
    list-style-type: none;
}
span.a {
    display: inline-block;
     width: 35px;
    height: 35px;
}
span.a.b{
    width:150px;
    height:auto;
}
