<!DOCTYPE html>
<html>
  <head>
  <%- include('partials/head.ejs') %>
</head>
  <body>
<!--Navigation & Home Page---------------------------------------------------->
<header>
  <%- include('partials/nav.ejs') %>
  <div class="black">
          <!--hero img section----------------------------------------------------------->
          <div class="content">
            <section class="m-0-auto">
            <h1>Welcome to <span>Scraped Recipes.</span></h1>
            <p>We provide the raw information you need to make <span class="spc">great meals.</span></p>
            <div class="flex-space">
              <div>
                <a href='/recipeScraper'>
                  <button class="button">Utilize Our Recipe Scraper</button>
                </a>
              </div>
              <div>
                <a href='/getRecipes'>
                  <button class="button">Browse Our Recipe Collection</button>
                </a>
              </div>
            </div>
          </section>
        </div>
    </div>
  </header>    
<!--About us_section----------------------------------------------------------->
            <div class="container about">
                <div class="row">
                    <div class="col-sm-6" id="about">
                        <h1 id="abtUs">Why does this app exist?</h1>
                        <p>
                          I wanted to provide a simple collection of easy to read food recipes. Too many cooking websites are
                          littered with ads and  loosely related personal anecdotes. Our site simply provides the steps and ingredients needed for each dish.
                          Our collection is gathered from various sources from <a href="scraper.html">our web scraper.</a>
                        </p>
                        <a href="/getRecipes">
                          <button class="button btn-2 text-center">Search Our Database</button>
                        </a>
                    </div>
                    <div class="col-sm-6 text-right">
                        <img src="/img/about.png" width="300" height="300" id="grill">
                    </div>
                </div>
            </div>
<!--features section----------------------------------------------------------->
    <div class="grey">
        <div class="container features">
            <section class="row text-center">
              <div class="col-md-4">
                <img src="/img/create.png" width="150" height="150">
                <h3>Free & Open Source</h3>
                <p>Scraped Recipes is purely an informational website, we do not require user accounts nor use any location trackers.
                  <a target="_blank" href="https://github.com/ColinSather/Scraped.Recipes/">Check us out on GitHub!</a>
                </p>                
              </div>
                <div class="col-md-4">
                    <img src="/img/learn2.png" width="150" height="150" class="img-fluid">
                    <h3>Informational</h3>
                     <p>We're working on building a huge library of recipes. Our goal is to deliver easy to follow recipes for all to enjoy.</p>
                </div>
                 <div class="col-md-4">
                    <img src="/img/share.png" width="150" height="150">
                   <h3>Shareable</h3>
                   <p>Your recipes are welcomed here, feel free to <a href="/recipeScraper">scrape a recipe</a> or <a href='/getRecipes'>edit an existing recipe.</a></p>
                </div>
            </section>
        </div>
        </div>
<!--Testimonials section------------------------------------------------------->
<!-- bug: takes two clicks to start the slide show (may remove section)
<div class="container test">
  <h2 class="text-center testimonials">Testimonials</h2>
  <p class="text-center">If you would like to submit a review of our content email <a href="mailto:info@scraped.recipes">info@scraped.recipes</a></p>
  <div class="slideshow-container">
    <div style = "display: block" class="mySlides">
      <img src="/img/user.png" width="100px">
      <br></br>
      <q>The beautiful thing about learning is nobody can take it away from you.</q>
      <p class="author">- Riley B. King</p>
    </div>

    <div class="mySlides">
      <img src="/img/user.png" width="100px">
      <br></br>
      <q>But man is not made for defeat. A man can be destroyed but not defeated.</q>
      <p class="author">- Ernest Hemingway</p>
    </div>

    <div class="mySlides">
      <img src="/img/user.png" width="100px">
      <br></br>
      <q>I have not failed. I've just found 10,000 ways that won't work.</q>
      <p class="author">- Thomas A. Edison</p>
    </div>
    <a class="prev" onclick="plusDivs(-1)">❮</a>
    <a class="next" onclick="plusDivs(1)">❯</a>
  </div>
  <div class="dot-container">
   <span class="dot" onclick=""></span>
   <span class="dot" onclick=""></span>
   <span class="dot" onclick=""></span>
 </div>
</div>
-->
<!--footer section------------------------------------------------------------->
<%- include('partials/footer.ejs') %>
</body>
</html>
