<!DOCTYPE html>
<html>
  <head>
<%- include('partials/head.ejs') %>
</head>
<body>
<!--Navigation & Home Page----------------------------------------------------->
  <header id="find">
      <%- include('partials/nav.ejs') %>
      <div class="black">
          <!--hero img section----------------------------------------------------------->
          <div class="content">
            <section class="inner">
            <h1><span class="spc">SR's</span> Recipe Scraper</h1>
            <form action="/scrapeRecipe" method="post">
              <input name="url[link]" class="form-control" id="searchItem" type="text" placeholder="Enter a url to a recipe">
              <button type="submit" class="button">Scrape Website</button>
            </form>
            <br>
          </section>
        </div>
    </div>
</header>

<!--footer section------------------------------------------------------------->
<%- include('partials/footer.ejs') %>
</body>
</html>
